/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}

body {
	background-color: #fff;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	padding: 0px;
	margin: 0px;
}

.formContainer {
	height:400px;
}

input {
	height:16px;
}

#login input[type="text"], #login input[type="password"] {
	font-size: 16px;
	height: 30px;
	width: 250px;
	border: 1px solid #CFCFCF;
	padding: 3px;
}

label {
	clear: both;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

input[type="text"], textarea{
	border: 1px solid #CFDFCF;
	color: #282828;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding-left: 8px;
	padding-top: 8px;
}

input[type="text"] {
	width: 250px;
	height: 30px;
}

input[type="submit"], input[type="reset"] {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
	width: 64px;
}

div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:105px;
}


/* header and footer elements */

#wrap {
	margin:0 auto;
  	position:relative;
  	float:center;  	
  	top: 0px;
  	left:0px;
  	width:800px;
  	text-align:left;  	

}
#main {
  	margin:0 auto;
  	display: block;
  	top: 35px;
  	left:0px;
  	clear: both;
}


.footer {
	background:#fff;
	border:none;
	margin-top:20px;
	border-top:1px solid #999999;
	width:100%;
}

.footer td {color:#999999;}

.footer a:link {color: #FF7373;}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #A60000;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.roo_icon_search {
	background-image: url(../images/search.png);
}

.roo_icon_update {
	background-image: url(../images/update.png);
}

.roo_icon_delete {
	background-image: url(../images/delete.png);
}

.roo_icon_create {
	background-image: url(../images/create.png);
}

.roo_icon_show {
	background-image: url(../images/show.png);
}

.roo_icon_list {
	background-image: url(../images/list.png);
}

.roo_icon_statistics {
	background-image: url(../images/statistics.png);
}

.roo_icon_selenium {
	background-image: url(../images/selenium.png);
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

a {
	text-decoration: underline;
	font-size: 13px;
}

a:link {
	color: #FF0000;
}

a:hover {
	color: #BF3030;
}

a:active {
	color: #FF7373;
}

a:visited {
	color: #A60000;
}

ul {
	list-style: disc url(../images/bullet-arrow.png);
}

li {
	padding-top: 5px;
	text-align: left;
}

li ul {
	list-style: square url(images/sub-bullet.gif);
}

li ul li ul {
	list-style: circle none;
}

/* table elements */

table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
}

table.dataTable {
	width: 100%;
}

table table {
	margin: -5px 0;
	border: 0px solid #BF3030;
	width: 100%;
}

table td,table th {
	padding: 2px;
}

table th {
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

table tr.hover {
	background: #C0C0C0;
}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	padding: 8px;
	padding-bottom: 22px;
	margin-top: 2em;
	border: none;
	width: 560px;
}

fieldset legend {
	font-weight: bold;
}

fieldset label {
}

fieldset dd {
	margin-left: 0;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
}

fieldset input {
	margin: 3px;
	padding: 3px;
	height: 20px;
	font-size: 1.2em;
}

fieldset input.highlight, fieldset textarea.highlight {
	border: 1px solid #FF4040;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}


#logo {
	float: left;
}

#menu {
  	float:left;  	
  	top: 35px;
  	left:0px;
  	display: inline-block;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

#menu ul li{
	padding: 0px;
	display: inline;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #FF4040;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 1em;
}


#menu a:hover {
	color: #FF4040;
	background: #EFEFEF;
}

#menu a img {
	border: 0;
}

.map_pick_button {
	padding: .4em 1em .4em 1em; 
	text-decoration: none;
	position: relative;
}

.map_pick_button span.ui-icon {
	margin: 0;
	position: absolute;
	left: .3em;
	top: 50%;
	margin-top: -8px;
}


/* Login Form */

form#login {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:11px;
	-moz-border-radius-bottomright:11px;
	-moz-border-radius-topleft:11px;
	-moz-border-radius-topright:11px;
	-moz-box-shadow:0 4px 18px #C8C8C8;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #E5E5E5;
	margin: auto auto;
	padding:16px 16px 50px;
	position:relative;
	width:350px;
}

label#remember_me {
	clear: none;
	display: inline;
}

#login #proceed {
	margin-top: 2em;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	border-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
